/* Clases modificadas al Carousel */
.carousel-caption {
  bottom: 18rem;
  right: 10%;
  left: 55%;
  text-align: right;
}

/* arregla el problema del caption en Responsive */
@media screen and (max-width: 1240px) {
  .carousel-caption {
      bottom: 12rem;
      /* right: 10%;  */
      left: 45%;
  }
}

@media screen and (max-width: 992px) {
  .carousel-caption {
      bottom: 8rem;
      /* right: 15%;  */
      left: 40%;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption {
      display: none !important
  }
}