
/* Clases modificadas al Carousel */
.carousel-caption {
    bottom: 20rem;
    right: 10%; 
    left: 55%;
    text-align: right;
}

.carousel-caption h5 {
    font-size: 2.5em;
    font-weight: bold;
}

.carousel-caption p,
.carousel-caption button {
    font-size: 1.1em;
} 

/* Oscurece imágenes del Carousel */
.oscura {
    filter: brightness(60%) ;
}


